<div class="container">
    <h1>Profile Page</h1>
    <a href="/logout" class="button">Logout</a>
    
    <div class="row">
        <div clas="small-6 columns">
            <h3>Local</h3>
            <p>
                <strong>id</strong>: {{user._id}}<br>
                <strong>username</strong>: {{user.username}}<br>
                <strong>password</strong>: {{user.password}}
            </p>
        </div>
    </div>
</div>